.category-preview-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;


  .title-container {
    width: 32%;

    .title {
      font-family: 'Pacifico', cursive;
      font-size: 28px;
      text-transform: capitalize;
      margin-bottom: 25px;
      cursor: pointer;
      color: black;
      margin-left: 30px;
    }

    hr {
      background-color: slategray;
    }

  }


  .preview {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
  }
}


@media (max-width: 992px) {
  .category-preview-container {
    .preview {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}