.cart-icon-container {
  width: 55px;
  height: 55px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  .shopping-icon {
    width: 35px;
    height: 35px;
  }

  .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 23px;
    right: 19.5px;
    color: #3b444b;
  }
}



@media (max-width: 768px) {
  .cart-icon-container {
    .item-count {
      right: 12px;
    }
  }
}