.category-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 50px;
}

.category-title {
  color: black;
  text-transform: capitalize;
  font-family: 'Pacifico', cursive;
}


@media(max-width: 992px) {
  .category-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
