.cart-dropdown-container {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 0px -8px antiquewhite;
  box-shadow: -3px -3px 16px -8px antiquewhite;
  background-color: #3b444b;
  top: 110px;
  right: 10px;
  z-index: 1000;


  .empty-message {
    font-size: 18px;
    margin: 50px auto;
    background-color: antiquewhite;
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
  }

  button {
    margin-top: auto;
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: lightslategray;
}

::-webkit-scrollbar-thumb {
  background-color: lightgrey;
}